.root{
    -fx-background-image:url('../images/urabeWallpaper.jpg');
    -fx-background-size: 100%;
    /*
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    */
}

.menu-bar{
    -fx-background-color: #D9F1D3;
    -fx-text-color: #000000;
    /*
    -fx-border-width: 2px;
    */
}

.menu{
    -fx-background-color: #D9F1D3;
}

.label{
    -fx-background-color: #7AE161;
}

.menu:hover{
    -fx-background-color: #7AE161;
}

-label:hover{
    -fx-text-color: #000000;
}

-menu-item:hover{
    -fx-background-color: #000000;
    -fx-border-color: #7AE161;
}