.root{
    -fx-background-color: linear-gradient(#FFFFFF,#FC8A08);
}
#boton-available{
    -fx-background-color: #B7FEA2;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-font-weight: bold;
}
#boton-NOT-available{
    -fx-background-color: #FF5B5B;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-font-weight: bold;
}
#login{
    -fx-background-color: linear-gradient(#FFFFFF,#95D4FF);
}
#admin{
    -fx-background-color: linear-gradient(#FFFFFF,#67AB69);
}
#lbl-productos{
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}